<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.supersweet.luck">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <!--  关键点在，开启悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- Push service 运行需要的权限 -->
    <!-- 此处com.baidu.push.example要改成应用自己的包名 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Push service 运行的可选权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 适配 Android N 系统必需的 ContentProvider 写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.supersweet.luck" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.supersweet.luck"
        android:protectionLevel="signature" />
    <!--谷歌商店应用内购买结算需要的权限-->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />


    <!-- ↓↓↓↓↓↓↓↓↓↓↓↓HUAWEI推送配置↓↓↓↓↓↓↓↓↓↓↓↓ -->
    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <permission
        android:name="${applicationId}.permission.HUAWEIPUSH_PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem" />
    <!--接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-permission android:name="${applicationId}.permission.HUAWEIPUSH_PROCESS_PUSH_MSG" />
    <!-- ↑↑↑↑↑↑↑↑↑↑↑↑HUAWEI推送配置↑↑↑↑↑↑↑↑↑↑↑↑ -->

    <!--退出app程序的权限-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:supportsRtl="true"
        android:configChanges="locale"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.SPlashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SignInActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.ChooseSexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChooseAgeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.supersweet.luck.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <activity
            android:name="com.supersweet.luck.ui.CurrentLocationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.supersweet.luck.ui.ChooseHightActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BodyTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.HairColorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.RelationShipActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.EducationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.EthnicityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.DrikinigActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.SmokingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChildRenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AbountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.ChooseAlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AvatarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.GuassianFilterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.supersweet.luck.pictureselector.PictureSelectActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.MyInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.InterestMeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme" />
        <activity
            android:name=".ui.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/ImagePickerTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.EditProfileActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.FeedBookActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.SettingCommonActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.FavoriteDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ImagePreviewDelActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.PolicyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.EditModifyUsernameActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.BlockMembersActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.AlterAccoutPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MutualMatchActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.ForgitPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.AlterAccountEmailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.BuyCoinPageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.GooglePayRecordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".widget.ImagePickerProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!-- 百度push必须的组件声明  start -->
        <activity
            android:name=".pushinfo.CustomActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />

        <!-- push 应用定义消息 receiver 声明 -->
        <receiver android:name="com.supersweet.luck.pushinfo.MyPushMessageReceiver">
            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收 bind、setTags 等 method 的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 可选，接受通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" /> <!-- 使用华为代理功能必须声明,用于接收华为的透传 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />

                <!-- 以下六项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- Push 服务接收客户端发送的各种请求-->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 4.4 版本新增的 CommandService 声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- 适配 Android N 系统必需的 ContentProvider 声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.supersweet.luck.bdpush"
            android:exported="true"
            android:process=":bdservice_v1"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.supersweet.luck" />
        <!-- 可选声明, 提升 push 消息送达率 -->
        <service
            android:name="com.baidu.android.pushservice.job.PushJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":bdservice_v1" />
        <!-- push 必须的组件声明 END -->


        <!-- 华为代理推送必需组件 -->
        <activity
            android:name="com.baidu.android.pushservice.hwproxy.HwNotifyActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="bdpush"
                    android:path="/hwnotify"
                    android:scheme="baidupush" />
            </intent-filter>
        </activity>
        <!-- 华为 HMS 接入声明 service start -->
        <service
            android:name="com.baidu.android.pushservice.HmsPushPatchMessageService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 华为代理推送必需组件 END -->


        <!-- 小米代理推送必需组件 -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <!--注:此 service 必须在 3.0.1 版本以后(包括 3.0.1 版本)加入-->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <!--注:此 service 必须在 2.2.5 版本以后(包括 2.2.5 版本)加入--> <service
        android:name="com.xiaomi.mipush.sdk.MessageHandleService"
        android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.PushPatchMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米代理推送必需组件 END -->
        <!-- 魅族代理推送必需组件 -->
        <activity
            android:name="com.baidu.android.pushservice.mzproxy.MzNotifyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay" />
        <receiver
            android:name="com.baidu.android.pushservice.MzPushPatchMessageReceiver"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
            </intent-filter>
        </receiver>
        <!-- 魅族代理推送必需组件 END -->

        <!-- OPPO 代理推送必需组件, 注意将 com.baidu.push.example 替换成自己的应用包名 -->
        <activity
            android:name="com.baidu.android.pushservice.opproxy.OpNotifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.supersweet.luck.action.RECEIVE_MCS_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- OPPO 代理推送必需组件 END -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="5N8WRGbW59QryVPE4L1D1Y0W" />

        <!-- 声明service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>


        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="670" />

    </application>

</manifest>